<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4"
      src="https://www.seekpng.com/png/full/213-2136967_mailchimp-logo-mailchimp-white-icon-transparent.png" alt="Image"
      width="72" height="72">
    <h2>Registration form</h2>
  </div>

  <div class="row">
    <div class="col-md-8 order-md-1">
      <form class="needs-validation" action="#">
        <div class="row">

          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" [(ngModel)]="firstName" name='firstName' class="form-control" id="firstName" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" [(ngModel)]="lastName" name='lastName' class="form-control" id="lastName" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="login">Login</label>
          <input type="text" [(ngModel)]="login" name='login' class="form-control" id="login" placeholder="Login">
          <div class="invalid-feedback">
            Please enter a valid Login.
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="email" name='email' class="form-control" id="email"
            placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Password</label>
          <input type="password" [(ngModel)]="password" name='password' class="form-control" id="address"
            placeholder="******" required="">
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <hr class="mb-4">

        <button (click)='userRegisterClick()' class="btn btn-primary btn-lg btn-block" type="submit">Continue to
          checkout</button>
      </form>
    </div>
  </div>
</div>
