<!-- <form class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Authorization</h1>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <label for="inputPassword">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form> -->

<div class="form">
  <h2>Sign up</h2>
  <div class="input">
    <form (submit)='userLoginClick()'>
      <div class="inputBox">
        <label>Login</label>
        <input type="text" [(ngModel)]="login" name="login" placeholder="Login" />
      </div>

      <div class="inputBox">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" placeholder="******" />
      </div>

      <div class="inputBox">
        <input type="submit" value="Sign In" />
      </div>
    </form>

    <p class="forget">Forget Password ? <a href="#">Click Here</a></p>
  </div>
</div>
